.container {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  padding: 40px 20px;
}

.cardBox {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.emptyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.empty {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .cardBox {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pagenationBox {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .pagenationBox {
    width: 100%;
    font-size: 10px;
  }
  .cardBox {
    grid-template-columns: 1fr 1fr;
  }
}
