.container {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 가능하게 */
  align-items: center;
  margin: 20px;
  gap: 10px; /* 요소 간 간격 */
}

.box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.select {
  padding: 10px;
  background-color: rgb(79, 79, 79);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  appearance: none;
}

/* 모바일 (화면 너비 768px 이하) */
@media (max-width: 768px) {
  .container {
    display: flex;
  }
  .box {
    margin-right: 5px;
  }
  .title {
    font-size: 13px;
  }
  .select {
    font-size: 10px;
  }
}
