.sliderContainer {
  margin-top: 20px;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 20px 10px;
  font-weight: bold;
}

/* 기본 캐러셀 컨테이너 */
.carousel-container {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

/* 슬라이더 컨텐츠 */
:global(.movie-slider) {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
    margin-left: 8px;
  }

  .carousel-container {
    padding: 0 10px;
  }

  :global(.movie-slider) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.1rem;
    margin: 0 0 16px 0;
  }

  .carousel-container {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  :global(.movie-slider) {
    padding: 0.5rem !important;
    justify-content: center;
  }
}
