.container {
  width: 100%;
  margin-bottom: 3%;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.itemBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  padding: 10px;
  background-color: rgb(67, 65, 67);
  border-radius: 10px;
  width: auto;
  color: white;
  cursor: pointer;
}

.item:hover {
  background-color: rgb(107, 106, 106);
}
